.article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2vw;
  margin: 2vw auto;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.article .title {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.article .body {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.article .author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.article .substring {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.vote-section {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.vote-section button {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.vote-section .likeButton {
  background-color: #2fbc00;
}

.vote-section .likeButton:hover {
  color: #98ff91;
}

.vote-section .dislikeButton {
  background-color: #bc0000;
}

.vote-section .dislikeButton:hover {
  color: #fd6a6a;
}

.vote-section .thumbs {
  align-items: center;
  margin: 0.5vw;
  color: black;
  margin-left: 5px;
  margin-right: 10px;
}

.article .undo {
  color: #000;
  font-weight: bold;
}

.vote-section button span {
  margin-left: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

.link button {
  background-color: #007bbc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link button:hover {
  background-color: #005f8d;
}

@media (max-width: 768px) {
  .article {
    padding: 1.5vw;
    margin: 1.5vw auto;
  }

  .article h2 {
    font-size: 2rem;
  }

  .article p {
    font-size: 0.9rem;
  }

  .vote-section button {
    font-size: 0.9rem;
  }

  .vote-section .thumbs {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .article {
    padding: 1vw;
    margin: 1vw auto;
  }

  .article h2 {
    font-size: 1.6rem;
  }

  .article p {
    font-size: 0.8rem;
  }

  .vote-section button {
    font-size: 0.8rem;
  }

  .vote-section .thumbs {
    font-size: 0.9rem;
  }

  .link button {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }
}
