.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5vw;
  margin: 1.5vw 0;
  max-width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.comment-body {
  font-size: 1.3rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.comment-author {
  font-size: 0.7rem;
  color: #555;
  margin-bottom: 0.5vw;
  font-weight: bold;
}

.comment-date {
  font-size: 0.6rem;
  color: #777;
  margin-bottom: 1rem;
}

.vote-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.vote-section .thumbs {
  color: black;
  margin-left: 5px;
  margin-right: 10px;
}

.vote-section button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.likeButton {
  background-color: #3e978a;
  color: #fff;
}

.likeButton:hover {
  background-color: #2a7771;
}

.dislikeButton {
  background-color: #db5083;
  color: #fff;
}

.dislikeButton:hover {
  background-color: #c84381;
}
.undo {
  text-decoration: wavy;
  color: #000;
}

.vote-section button span {
  margin-left: 5px;
}

.delete-button {
  background-color: #dc3545;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vw auto;
  width: 15%;
}

.delete-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .card {
    padding: 1vw;
    margin: 1vw 0;
  }

  .comment-body {
    font-size: 1.1rem;
  }

  .comment-author {
    font-size: 0.65rem;
  }

  .comment-date {
    font-size: 0.5rem;
  }

  .vote-section button {
    font-size: 0.9rem;
  }

  .vote-section .thumbs {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 0.8vw;
    margin: 0.8vw 0;
  }

  .comment-body {
    font-size: 0.8rem;
  }

  .comment-author {
    font-size: 0.8rem;
  }

  .comment-date {
    font-size: 0.7rem;
  }

  .vote-section button {
    font-size: 0.8rem;
  }

  .vote-section .thumbs {
    font-size: 0.9rem;
  }

  .delete-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
