.comments {
  margin-top: 2vw;
}

.formContainer {
  margin-top: 2vw;
}

.title {
  font-size: 1.7rem;
  margin-bottom: 1vw;
}

.list {
  list-style-type: none;
  padding: 0;
}

.delete-message {
  color: #28a745;
  font-weight: bold;
  margin-top: 1vw;
}

@media (max-width: 768px) {
  .comments {
    margin-top: 3vw;
  }

  .formContainer {
    margin-top: 3vw;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.8vw;
  }
}

@media (min-width: 1024px) {
  .comments {
    margin-top: 2vw;
  }

  .formContainer {
    margin-top: 2vw;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1vw;
  }
}
