.article {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.article h2 {
  font-size: 1.5rem;
  margin-bottom: 2vw;
}

.article h3 {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 2vw;
}

.article p {
  font-size: 0.9rem;
  color: #666;
}

.article-img {
  max-width: 95%;
  height: auto;
  border-radius: 5px;
  margin: auto;
  display: flex;
}

.article-likes  {
    margin: 2vw 0;
}

.article-likes .thumbs-up {
  color: #28a745;
}

.article-likes .thumbs-down {
  color: #dc3545;
}

.article-likes .likes-count {
  margin-left: 5px;
  margin-right: 10px;
}

.article .link {
  text-decoration: none;
}

.article button {
  background-color: #ccc; 
  color: #333; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.article button:hover {
   background-color: #999; 
  color: #fff;
}

@media (min-width: 600px) {
  .article {
    padding: 15px;
  }

  .article h2 {
    font-size: 2rem;
    margin-bottom: 1.5vw;
  }

  .article h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5vw;
  }

  .article p {
    font-size: 1rem;
  }

  .article button {
    padding: 12px 24px;
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .article {
    padding: 25px;
  }

  .article h2 {
    font-size: 2.5rem;
    margin-bottom: 1vw;
  }

  .article h3 {
    font-size: 1.8rem;
    margin-bottom: 1vw;
  }

  .article p {
    font-size: 1.1rem;
  }

  .article button {
    padding: 14px 26px;
    font-size: 1.2rem;
  }
}